@charset "utf-8";

main img{
    width: 60px;
    padding-left: 10px;
}

.stamp_box{
    position: relative;
    display: flex;
    /* background-color: cadetblue; */
    border-bottom: solid 2px #f1f1f1;
    margin: 6px 20px 5px 0;
    padding: 0 6px;
}

.stamp_title{
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 100px;
}

.stamp_price{
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 20px;
}
.stamp_price1{
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 30px;
}
