@charset "utf-8";
.qa_box_wrapper{
    
    /*background: #707070;*/
    height: 64px;
    padding: 0 14px;
    border-top: solid 2px #f1f1f1;
}

.qa_box_wrapper .a{
    color: #000;
}

.qa_box_wrapper:hover{
    background: #f1f1f1;
    transition: 0.4s;
}

.qa_box1{
    display: flex;
    position: relative;
}

.qa_box1 h3{
    line-height: 64px;
    width: 700px;
}
.qa_box1 p{
    line-height: 64px;
    margin-left: 10px;
    color: #00BCD4;
}

.qa_box2{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.qa_box1{
    position: relative;
}

.option{
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.option p{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #00BCD4;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
  }

  .option .a_left{
    margin-left: 20px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #00BCD4;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
  }
  
  .option p:hover{
    background: #33D1E5;
    transition: 0.8s;
    cursor: pointer;
  }


